@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap'); /* CSS RESET */
/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
*/
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, 'sans-serif';
}

/*
    5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
}

/*
    6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
  font-size: 100%;
}

/*
    7. Avoid text overflows and inherit font size
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
}

/*
    8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

@media (max-width: 1024px) {
  html {
    font-size: 12px; /* 1rem = 12px */
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  html {
    font-size: 14px; /* 1rem = 14px */
  }
}

@media (min-width: 1540px) {
  html {
    font-size: 18px; /* 1rem = 14px */
  }
}

@media (min-width: 1200px) and (max-width: 1540px) {
  html {
    font-size: 16px; /* 1rem = 16px */
  }
}

/* styles.css or in your global Tailwind file */
.enemy-cell {
  @apply flex items-center justify-center border border-red-300 bg-white transition-colors hover:border-2 hover:border-red-600;
}

.player-cell {
  @apply flex items-center justify-center border border-[#b7bcf1] bg-white;
}

.cell-miss {
  @apply pointer-events-none relative overflow-hidden bg-gray-200;
}

/* Show a black dot for misses */
.cell-miss::before {
  content: '•';
  color: black;
  display: block;
  text-align: center;
}

/* Show a big red "X" that spans diagonals of the cell */
.cell-hit {
  @apply pointer-events-none relative overflow-hidden;
}

.cell-hit::before,
.cell-hit::after {
  content: '';
  @apply absolute left-1/2 top-1/2 bg-red-700;
  width: 3px;
  height: 150%;
  transform-origin: center;
}

.cell-hit::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cell-hit::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Overlay for a single ship block */
.ship-overlay-base {
  @apply pointer-events-none absolute border-[3px] border-transparent bg-[#d6d6ff] bg-opacity-40;
}

.ship-overlay-blue {
  @apply border-[#0a0fcd];
}

.ship-overlay-sunk {
  @apply border-red-700 bg-transparent !important;
}

.disable-grid {
  @apply pointer-events-none opacity-40;
}
